.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;

    /*display: grid;*/
    /*grid-template-rows: 20px 1fr 20px;*/
    align-items: center;
    justify-items: left;
    min-height: 100svh;
    /*padding: 80px;*/
    gap: 64px;
    font-family: var(--font-grotesk);
}

.main {
    /*gap: 32px;*/
    grid-row-start: 2;
    position: relative;
    /*height: 100vh;*/
    width: 100%;
}

@media only screen and (min-width: 0rem){
    .main {
        display: block;
    }

    .sideHeader{
        padding-top: 20vw;
        /*height: 100vh;*/
        width: 100vw;
        text-align: center;
        display: grid;
        grid-template-rows: 50% 50%;
        /*align-items: center;*/
        position: sticky;
    }

    .sideHeader h1{
        font-size: 3rem;
        text-align: center;
        align-content: end;
    }

    .contactList{
        background-color: var(--button-primary-hover);
        display: inline-flex;
    }

    .contactList ul{
        list-style-type: none;
        display: inline-flex;
    }
    .contactList li{
        padding: 1rem;
        /*padding-right: 1rem;*/
        /*padding-left: 1rem;*/
    }

    .right{
        border-left: 1px solid gray;
        display: block;
        padding-top: 10vw;
        /*padding-right: */
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .right p{
        line-height: 1.4rem;
        padding-bottom: 1.5rem;
    }
    .right h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .follow{

    }

    .socialLink:hover {
        text-decoration: underline;
    }

    .newsletterForm{
        height: 750px;
        width: 100%;

    }

}

@media only screen and (min-width: 43.5rem){
    .main {
        /*display: grid;*/
        /*grid-template-columns: 200px calc(100vw - 200px);*/
    }

    .sideHeader{
        padding: 0;
        height: 100vh;
        width: auto;
        text-align: center;
        display: grid;
        grid-template-rows: 50% 50%;
        /*align-items: center;*/
        position: fixed;
        overflow: hidden;
    }

    .sideHeaderContainer{
        width: 250px;
        /*border: 1px red solid;*/
        height: 100vh;
        align-content: center;
        align-items: center;
    }

    .contactList{
        display: block;
        background-color: var(--darkPrimary);
    }

    .contactList ul{
        list-style-type: none;
        display: block;
    }
    .contactList li{
        padding: 0;
    }

    .right{
        /*border: 1px solid gray;*/
        display: block;
        padding-top: 10vw;
        padding-right: 10vw;
        padding-left: 10vw;
        margin-left: 250px;
    }

    .right p{
        line-height: 1.4rem;
        padding-bottom: 1.5rem;
    }

}