.page{
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: left;
    min-height: 100svh;
    padding: 80px;
    gap: 64px;
    font-family: var(--font-grotesk);
    overflow: scroll;
}
.main {
    gap: 32px;
    grid-row-start: 2;
    position: relative;
    /*height: 100vh;*/
    width: 100%;
}

@media only screen and (min-width: 0rem) {

    .seriesTilesContainer {
        max-width: 82.5em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }

}

@media only screen and (min-width: 43.75rem) {

    .seriesTilesContainer {
        grid-template-rows: 1fr;
        flex-direction: row;
    }

}

@media only screen and (min-width: 81.25rem) {
    .seriesTilesContainer {
        max-width: 80rem;
    }
}