:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkPrimary: #171717;
  --lightPrimary: #ffffff;
  --color-gray-100:#f8f8f8;
  --color-gray-200:#e4e4e4;
  --color-gray-300:#aeaeae;
  --color-gray-400:grey;
  --color-gray-500:#636363;
  --color-gray-600:#484848;
  --color-gray-700:#3a3a3a;
  --color-gray-800:#2e2e2e;
  --color-gray-900:#161616;

  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: 85rem;
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
  --tracking-wide: 0.05ch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  /*overflow: hidden;*/
}
main {
  flex: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  font-family: var(--font-grotesk), Titillium, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-size-adjust: from-font;
  line-height: 1.4;
  letter-spacing: var(--tracking);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes fade {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeIn {
  animation: fade .5s linear both;
  /*animation-play-state: paused;*/
  /*animation-delay: calc(var(--scroll) * -1s);*/
  /*animation-iteration-count: 1;*/
  /*animation-fill-mode: both;*/
}

.fadeOut {
  /*animation-direction: reverse;*/
  animation: fade 1s linear both;
  /*animation-play-state: paused;*/
  /*animation-delay: calc(var(--scroll) * -1s);*/
  /*animation-iteration-count: 1;*/
  /*animation-fill-mode: both;*/
}

.fadeRight {
  /*animation-direction: reverse;*/
  animation: fade-right 1s linear both;
  /*animation-play-state: paused;*/
  /*animation-delay: calc(var(--scroll) * -2s);*/
  /*animation-iteration-count: 1;*/
  /*animation-fill-mode: both;*/
}

.fadeLeft {
  animation: fade-left 1s linear both;
  /*animation-play-state: paused;*/
  /*animation-delay: calc(var(--scroll) * -2s);*/
  /*animation-iteration-count: 1;*/
  /*animation-fill-mode: both;*/
}

.zoomIn {
  animation: zoomIn 1s linear both;
}

.slideRight {
  animation: slideInRight 1s linear both;
}

.animate {
  /*border: 2px purple solid;*/
}

.remove-animate {
  opacity: 0;
}

@media only screen and (min-width: 0rem) {
  .hideOnDesktop {

  }
  .hideOnMobile {
    display: none;
  }
}

@media only screen and (min-width: 64rem) {
  .hideOnDesktop {
    display: none;
  }
  .hideOnMobile {
  }
}
