.page{
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-items: left;
    min-height: 100svh;
    /*padding: 80px;*/
    gap: 64px;
    font-family: var(--font-anton);
    position: relative;
    z-index: 1;
}

.main{

}

.container * {
    box-sizing: border-box;
}

@keyframes move {
    to {
        /* Move horizontally so that right edge is aligned against the viewport */
        transform: translateX(calc(-100% + 100vw));
    }
}

#sectionPin {
    /* Stretch it out, so that we create room for the horizontal scroll animation */
    height: 500vh;
    overflow: visible; /* To make position sticky work … */

    view-timeline-name: --section-pin-tl;
    view-timeline-axis: block;
    /*border: purple 4px dashed;*/
}

@media only screen and (min-width: 0px){
    .pinWrap {
        /*height: 100vh;*/
        /*width: 600vmax;*/

        /* Hook animation */
        /*will-change: transform;*/
        /*animation: linear move forwards;*/

        /*!* Link animation to view-timeline *!*/
        /*animation-timeline: --section-pin-tl;*/
        /*animation-range: contain 0% contain 100%;*/
    }
    .seriesDescription {
        margin-bottom: 1rem;
        position: absolute;
        top: 15vh;
        left: 10vw;
        z-index: 4;
        overflow-wrap: break-word;
        hyphens: auto;
        /*display: grid;*/
        /*grid-template-columns: 2fr 2fr;*/
    }
}

@media only screen and (min-width: 43.5rem){
    .pinWrapSticky {
        /* Stick to Top */
        height: 100vh;
        width: 100vw;
        position: sticky;
        top: 0;

        width: 100vw;
        overflow-x: hidden;
    }

    .pinWrap {
        height: 100vh;
        min-width: 700vmax;

        /* Hook animation */
        will-change: transform;
        animation: linear move forwards;

        /* Link animation to view-timeline */
        animation-timeline: --section-pin-tl;
        animation-range: contain 0% contain 100%;
    }
    .seriesDescription {
        margin-bottom: 1rem;
        position: absolute;
        top: 10vw;
        left: 10vw;
        z-index: 4;
        overflow-wrap: break-word;
        hyphens: auto;
        /*display: grid;*/
        /*grid-template-columns: 2fr 2fr;*/
    }
}


.container h2 {
    font-size: 2rem;
    max-width: 400px;
}

.container > p {
    position: absolute;
    bottom: 10vw;
    right: 10vw;
    width: 200px;
    line-height: 1.5;
}

.container section {
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
}

.container .pinWrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 50px 10vw;
    margin: auto;
    place-items: center;
}


.container h1 span {
    display: block;
}

.seriesDescription h1{
    font-size: clamp(1.5rem, 8vw + 1rem, 6rem);
    line-height: 1;
    font-weight: 800;
}