.container {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*min-height: 100vh;*/
    position: relative;
}


@media only screen and (min-width: 0rem) {
    .scrollImages {
       height: auto;
        width: 90vw;
        object-fit: fill;
    }

    .title{
        font-size: 2rem;
    }

    .scrollImagesOverlay {
        /*border: 5px solid var(--lightPrimary);*/
        /*opacity: 1;*/
        position: absolute;
        top: 20vh;
        /*width: 50%;*/
        height: 50%;
        z-index: 45;
        background: rgba(0, 0, 0, .5);
        color: var(--lightPrimary);
        transition: 2s ease;
        align-items: center;
        justify-content: center;
        display: block;
        align-content: center;

    }

    .scrollImagesOverlay > * {
    }



}
@media only screen and (min-width: 43.5rem) {
    .scrollImages {
        height: 90vh;
        width: auto;
        max-width: 100%;
        object-fit: contain;
    }

    .scrollImagesOverlay {
        width: 100%;
        /*position: fixed;*/

    }
}

    .scrollImagesOverlay .active{
        transition: 2s ease;
    }

    .title {
        opacity: 1;
        font-weight: bold;
        /*font-size: 4rem;*/
    }

    .description {
        opacity: 1;
    }
